<p>Total characters: {{ characters().length }}</p>
<button class="btn btn-primary">ewfwefw</button>
@if (characters().length === 0) {
<p>No characters found.</p>
} @else {
@for (character of characters(); track $index) {
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{character.img}}" class="img-fluid rounded-start" alt="{{character.name}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{character.name}}</h5>
            </div>
        </div>
    </div>
</div>
}
}